sudo: false
virtualenv:
  system_site_packages: true
language: c
cache:
  apt: true
addons:
  apt:
    packages:
    - cmake
    - valgrind
    - lcov
    - libblas-dev
    - libatlas-dev
    - liblapack-dev
before_install:
  - gem install coveralls-lcov
  - sh ./utilities/get_cgreen.sh
  - sh ./utilities/get_petsc.sh
script:
  - mkdir -p build
  - cd build
  - cmake --version
  - cmake -DPETSC_DIR=`pwd`/../petsc-3.6.1/double-dbg -DSC_BUILD_TESTS=ON -DSC_ENABLE_COVERAGE=ON -DBUILD_SHARED_LIBS=ON ..
  - make -j2
  - ctest -j2 --output-on-failure
after_success:
  - lcov -d tests -d src -base-directory .. -c -o coverage.info
  - lcov --remove coverage.info '/usr/*' -o coverage.info
  - lcov --remove coverage.info 'utilities/petsc-3.6.1/double-dbg/*' -o coverage.info
  - lcov --remove coverage.info 'cgreen/*' -o coverage.info
  - cd ..
  - coveralls-lcov build/coverage.info
